* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", arial, verdana;
	background-color: #9b59b6;
	min-height: 100vh;
	margin: 0;
}

.hidden {
	position: absolute;
	display: none;
}

.container {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	border-radius: 5px;
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input[disabled] {
	background-color: #616c75;
	color: white;
	user-select: none;
	cursor: help;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

#emi-table {
	margin: 100px auto;
	width: 75%;
	border-collapse: collapse;
	text-align: center;
	text-overflow: ellipsis;
}

#emi-table td {
	background-color: #f2f2f2;
	padding: 8px;
}

#emi-table td:nth-child(1) {
	background-color: #6b39a620;
	border: 1px solid #ddd;
	padding: 12px 8px;
	color: white;
}

#emi-table th {
	background-color: #6b39a699;
	border: 1px solid #ddd;
	padding: 12px 8px;
	color: white;
}
